<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card color="light">
  <ion-card-header>
    <ion-card-title>Change Password</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-input type="password" fill="outline" autofill="current-password" color="warning" label="Current Password"
      style="--color: var(--ion-color-dark); margin-bottom: 10px" label-placement="floating"
      (ionChange)="currentPasswordChange($event)"></ion-input>

    <ion-input type="password" autofill="new-password" fill="outline" color="primary" label="New Password"
      style="--color: var(--ion-color-dark); margin-bottom: 10px" label-placement="floating"
      (ionChange)="newPasswordChange($event)"></ion-input>

    <ion-input type="password" autofill="confirm-password" fill="outline" color="primary" label="Confirm Password"
      style="--color: var(--ion-color-dark); margin-bottom: 10px" label-placement="floating"
      (ionChange)="confirmPasswordChange($event)"></ion-input>
  </ion-card-content>

  <ion-button expand="full" style="" fill="clear" type="submit" (click)="submit()">Submit</ion-button>
</ion-card>

<ion-toast color="danger" duration="5000" [message]="toastMessage" [isOpen]="isToastOpen"
  (didDismiss)="setToastOpen(false)"></ion-toast>
