<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Shop</ion-title>
    <ion-buttons slot="end">
      <ion-select (ionChange)="currencyChanged()" label="Currency" [(ngModel)]="selectedCurrency">
        <ion-select-option value="eur">EUR (€)</ion-select-option>
        <ion-select-option value="zar">ZAR (R)</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="loaded">
  <ion-list *ngFor="let bundle of bundles;">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center">{{ bundle.amount }} Tokens</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img id="img{{ bundle.id }}" src="assets/bundles/{{ bundle.id }}.png" alt="Single Coin" />
        <ion-popover trigger="img{{ bundle.id}}" trigger-action="click" size="auto" mode="ios">
          <ng-template>
            <ion-content>
              <a class="attribution-link" referrerpolicy="no-referrer"
                href="https://www.freepik.com/free-vector/set-gold-silver-bronze-coins-isolated_14877887.htm">
                Image by DrawingMyDiary
              </a>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-card-content>
      <ion-button class="buy-button" fill="clear" expand="block" color="success" (click)="purchaseBundle(bundle.id)">
        Buy {{ currencySymbol }}{{ bundle.price | number: '1.2-2' }}
      </ion-button>
    </ion-card>
  </ion-list>
</ion-content>

<ion-content *ngIf="!loaded">
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
