<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Shop</ion-title>
    <ion-buttons slot="end">
      <ion-select label="Currency" [value]="selectedCurrency">
        <ion-select-option value="eur">EUR (€)</ion-select-option>
        <ion-select-option value="zar">ZAR (R)</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="loaded">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center">100 Tokens</ion-card-title>
      </ion-card-header>
      <ion-card-content> </ion-card-content>
      <ion-button fill="clear" expand="block" color="success">Buy R99,99</ion-button>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="!loaded">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
