img {
  width: 10%;
  object-position: 0 90%;
}

ion-card {
  text-align: center;
}

ion-popover {
  text-align: center;
  line-height: 24px;
}

.attribution-link {
  text-decoration-line: none;
  font-family: monospace;
  line-height: 24px;
  font-size: 12px;
  height: 100%;
}

.buy-button {
  font-size: 16px;
}
