<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Server Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Server Status</ion-card-title>
      <ion-card-subtitle>Ultimate Reloaded</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-chip (click)="setPopoverOpen(true)" color="success" *ngIf="isRunning()">Running</ion-chip>
      <ion-chip (click)="setPopoverOpen(true)" color="danger" *ngIf="!isRunning()">Stopped</ion-chip>
    </ion-card-content>

    <ion-button [disabled]="isRunning()" fill="clear" (click)="startServerClick($event)">Start</ion-button>
    <ion-button [disabled]="!isRunning()" fill="clear" color="danger" (click)="stopServerClick($event)">
      Stop
    </ion-button>
  </ion-card>

  <ion-toast color="danger" [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000"
    (didDismiss)="setToastOpen(false)"></ion-toast>

  <ion-popover [isOpen]="isPopoverOpen" (didDismiss)="setPopoverOpen(false)">
    <ng-template>
      <ion-list>
        <ion-list-header>
          <ion-label style="text-align: center">
            <ion-text>
              <h1 style="font-weight: bold; font-size: 18px">Online Players</h1>
            </ion-text>
          </ion-label>
        </ion-list-header>
        <ion-item expand="true">
          <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
          <ion-text>
            <p style="font-family: monospace; text-wrap: nowrap; font-size: 16px">
              -=JoeAverage=-
            </p>
          </ion-text>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-content>
