<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Server Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="refreshing">
    <ion-card-header>
      <ion-card-title><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-card-title>
      <ion-card-subtitle><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>

  <div *ngIf="refreshing">
    <ion-card>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle><ion-skeleton-text [animated]="true"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!refreshing">
    <div *ngFor="let instance of instanceList">
      <ion-card *ngFor="let server of instance.servers">
        <ion-card-header>
          <ion-card-title>({{ instance.name }}) {{ server.name }}</ion-card-title>
          <ion-card-subtitle>{{ server.ip }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-chip (click)="viewPlayerList(server.ip)" color="success"
            *ngIf="isRunning(instance.id)">Running</ion-chip>
          <ion-chip disabled="true" color="danger" *ngIf="!isRunning(instance.id)">Stopped</ion-chip>
        </ion-card-content>

        <ion-button [disabled]="isRunning(instance.id)" fill="clear"
          (click)="startServerClick(instance.id)">Start</ion-button>
        <ion-button [disabled]="!isRunning(instance.id)" fill="clear" color="danger"
          (click)="stopServerClick(instance.id)">
          Stop
        </ion-button>
      </ion-card>
    </div>
  </div>

  <ion-toast color="danger" [isOpen]="isToastOpen" [message]="toastMessage" [duration]="5000"
    (didDismiss)="setToastOpen(false)"></ion-toast>

  <ion-popover [isOpen]="isPopoverOpen" (didDismiss)="setPopoverOpen(false)">
    <ng-template>
      <ion-list>
        <ion-list-header>
          <ion-label style="text-align: center">
            <ion-text>
              <h1 style="font-weight: bold; font-size: 18px">Online Players</h1>
            </ion-text>
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let player of playerList?.get(popoverIp)?.list" expand="true">
          <ion-icon slot="start" name="checkmark-circle-outline" color="success"></ion-icon>
          <ion-text>
            <p style="font-family: monospace; text-wrap: nowrap; font-size: 16px">
              {{ player.name }}
            </p>
          </ion-text>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-content>
